* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}







.navegaçao {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #000;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, #FC466B, #3F5EFB)1;

}

.link-home {
    padding: 15px 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 100;
    font-size: 15px;
    display: block;
}

.link-home:hover {
    color: #FF5C8D;
    border-radius: 3px;
    transform: scale(1.1);

}

.menu {
    display: none;
    max-width: 100%;
    padding: 10px 0px;
    position: relative;
    background-color:black;

}

.menu i {
    display: block;
    padding-left: 14px;
    color: white;
    font-size: 20px;

}

.sub-menu {
    position: absolute;
    list-style: none;
    flex-direction: column;
    background-color: #000;
    margin-top: 26px;
    width: 100%;
    padding: 10px;
    display: none;
}

.sub-menu li {
    margin-bottom: 5px;

}

.menu:hover .sub-menu {
    display: flex;
}

.link-sub-menu {
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    display: block;
}

.link-sub-menu:hover {
    color: rgb(12, 17, 46);
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    transform: scale(1.03);
}


@media screen and (max-width:600px) {
    .navegaçao {
        display: none;
    }

    .menu {
        display: flex;
    }
    }











.conteiner {
    max-width: 1000;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.conteiner h1 {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    background-clip: text;
    margin: 20px;
    margin-top: 100px;
    margin-bottom: 40px;
    -webkit-text-fill-color: transparent;
}

.conteiner p {
    color: white;
    margin: 15px;
}

.conteiner span {
    color: rgb(114, 114, 114);
    font-size: 15px;

}

.conteiner-contato {
    margin: auto;
    margin-top: 80px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}

.contato-log img {
    width: 50px;
    border-radius: 100%;
    margin-left: 10px;
}

.contato-log {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-left: 3px solid;
    margin-top: 20px;
    border-image: linear-gradient(90deg, #FC466B, #3F5EFB)1;
}


.contato-log a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    margin: 0px 15px;
}

.contato-log:hover {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.conteiner-text {
    text-align: center;
    max-width: 700px;
    margin: auto;
    background-color: black;

}

.conteiner-text p {
    color: rgb(114, 114, 114);
    margin-top: 70px;
    padding: 20px;

}


footer {
    padding: 10px;
   max-height: 100%;
    margin-top: 90px;
    border-top: 3px solid;
    background-color: black;
    border-image: linear-gradient(90deg, #FC466B, #3F5EFB)1;
}

footer h3 {
    text-align: center;
    color: rgb(114, 114, 114);
    margin: 15px;
    font-size: 13px;
}

footer p {
    text-align: center;
    font-size: 13px;
    color: rgb(114, 114, 114);
    
}

footer a {
    text-decoration: none;
    font-weight: 900;
    font-size: 15px;
}